.appHeaderSection {
  background-color: white !important;
  color: #ec619f;
  --tw-shadow: 0 20px 25px -5px rgba(236, 97, 169, 0.1),
    0 10px 10px -5px rgba(236, 97, 169, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.logo_text {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #20232a;
  color: #ec619f;
}
.flexboxend {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.flexboxend a {
  text-decoration: none !important;
  position: relative !important;
  padding: 0.5rem;
}
.flexboxend a:hover {
  color: #ec619f !important;
  background: transparent !important;
}

.flexboxBetween {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.dropdownIcon {
  justify-content: center;
  align-items: center;
  display: flex;
  color: #20232a;
  color: #ec619f;
  font-weight: bold;
  margin-top: 0.5rem;
}
.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ec619f;
}

.navLinks a {
  color: #ec619f !important;
  line-height: 40px !important;
  text-align: center !important;
  text-decoration: none !important;
  padding: 5px 1rem !important;
  border-bottom: 5px solid #fff !important;
}

.navLinks a:hover,
a:hover,
.activeNav {
  text-decoration: none !important;
  color: #ec619f !important;
  border-color: #ec619f !important;
}

.header_section {
  margin-left: 1.5rem;
}
.iconColor {
  color: #ec619f !important;
}

/* search box  */
.search {
  line-height: 50px !important;
  text-align: center !important;
  width: 100% !important;
  margin-top: 0.2rem !important;
}
.searchInput {
  width: 100% !important;
  max-width: 400px !important;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  position: relative !important;
}
.searchInput::after {
  content: "" !important;
  position: absolute !important;
  border-bottom: 2px solid #ec619f !important;
  left: 0;
  bottom: 0;
  content: "";
  position: absolute !important;
  right: 0;
}
.searchInput:focus,
.searchInput:hover {
  border-color: #ec619f !important;
}
/* end of search box  */

/* //cart ? */
.cart,
.cart:hover {
  color: #ec619f !important;
  border-bottom: none !important;
}
/* end of cart */
.barContainer {
  position: relative !important;
}
.basicMenu {
  display: none;
}
.showBasicMenu {
  position: absolute !important;
  top: 100%;
  left: 15px;
  list-style: none !important;
  border: 1px solid rgba(236, 97, 169, 0.2);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #fff;
  --tw-shadow: 0 20px 25px -5px rgba(236, 97, 169, 0.1),
    0 10px 10px -5px rgba(236, 97, 169, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: 5px !important;
}
.title {
  color: #ec619f;
  text-align: center;
  padding: 0.5rem 0;
  border-bottom: 2px solid rgba(236, 97, 169, 0.5);
}
.submenuContainer {
  position: relative !important;
  width: 185px;
  background: #fff;
}
.submenuContainer a {
  border-bottom: 0 !important;
  width: 100%;
  margin: 0 !important;
  box-sizing: border-box;
  padding: 0 0.4rem !important;
  color: #ec619f !important;
  line-height: 40px !important;
  /* text-align: center !important; */
  text-decoration: none !important;
}

.submenuContainer a:hover {
  background: rgba(236, 97, 159, 0.2);
}
.submenu {
  display: none !important;
  background: #fff;
  width: 185px !important;
  position: absolute !important;
  border: 1px solid rgba(236, 97, 169, 0.2);
  --tw-shadow: 0 20px 25px -5px rgba(236, 97, 169, 0.1),
    0 10px 10px -5px rgba(236, 97, 169, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: 5px !important;
}
.submenu a {
  display: block;
  padding: 0 0.3rem !important;
  margin: 0 !important;
  box-sizing: border-box;
}
.submenu a:hover {
  background: rgba(236, 97, 159, 0.2);
  color: #fff !important;
}
.submenuContainer:hover .submenu {
  right: -100% !important;
  top: 0px;
  display: block !important;
}

.submenuContainer:hover .submenu a {
  color: #ec619f !important;
  width: 100%;
}
