* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tabColor {
  /* color: var(--text-color) !important; */
  color: rgba(47, 23, 147) !important;
}

.login_components {
  border: var(--light-border) !important;
  width: 60%;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 20px 25px -5px rgba(47, 23, 147, 0.1);
  background: #fff;
  border-radius: 10px;
}

.title {
  color: var(--text-color) !important;
  font-size: 1.5rem !important;
  text-decoration: none !important;
}
.title:hover {
  color: rgba(47, 23, 147) !important;
  text-decoration: none !important;
}

.login_header {
  display: flex;
  justify-content: center;
}
.active {
  color: rgba(47, 23, 147) !important;
  border-bottom: 3px solid rgba(47, 23, 147) !important;
  padding-bottom: 0.5rem;
}
.login_body {
  margin-top: 2rem;
  background: #fff;
}

.button {
  color: #fff !important;
  background: rgba(47, 23, 147) !important;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(47, 23, 147);
  outline: none;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  cursor: pointer;
  box-shadow: 0 20px 25px -5px rgba(47, 23, 147, 0.1);
}
.form_group {
  margin: 0.3rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: space-evenly;
  width: 80%;
}
.form_group label {
  font-size: 1rem;
  color: var(--text-color);
  padding: 0 2rem;
  width: 40%;
  text-align: left;
}

.form_group input {
  padding: 1rem 1rem;
  outline: none;
  border: 1px solid rgba(236, 97, 169, 0.1);
  border-radius: 5px;
  width: 60%;
  box-shadow: 0 20px 25px -5px rgba(47, 23, 147, 0.1);
}

.rememberMe {
  margin-left: 5%;
}
.rememberMe input[type="checkbox"] {
  margin-right: 10px;
  background: rgba(47, 23, 147) !important;
}
